@model List<Product>
@{
    ViewData["Title"] = "Product Page";
    var products = Model;
}

<div class="text-center">
    <h1 class="display-4">Welcome Product Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Slug</th>
                <th>Category Id</th>
            </thead>
            <tbody>
                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.productId</td>
                        <td>@product.productName</td>
                        <td>@product.price</td>
                        <td>@product.quantity</td>
                        <td><a href="https://github.com/kietnguyen17052001">@product.slug</a></td>
                        <td>@product.categoryId</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
