@model List<Category>;
@{
    ViewData["Title"] = "Update product page";
    var categories = Model;
    var product = ViewBag.Product;
}
<h1>Update product</h1>
<form action="/Product/Save" method="post">
    <div class="form-group">
        <label for="exampleInputName">Product id</label>
        <input type="text" class="form-control" id="product_id" aria-describedby="nameHelp" name="productId"
            placeholder="Enter product name" readonly="readonly" value="@product.productId">
    </div>
    <div class="form-group">
        <label for="exampleInputName">Product name</label>
        <input type="text" class="form-control" id="product_name" aria-describedby="nameHelp" name="productName"
            placeholder="Enter product name" value="@product.productName">
    </div>
    <div class="form-group">
        <label for="exampleInputPrice">Price</label>
        <input type="text" class="form-control" id="price" aria-describedby="prictHelp" name="price"
            placeholder="Enter price" value="@product.price">
    </div>
    <div class="form-group">
        <label for="exampleInputQuantity">Quantity</label>
        <input type="text" class="form-control" id="quantity" aria-describedby="quantityHelp" name="quantity"
            placeholder="Enter quantity" value="@product.quantity">
    </div>
    <div class="form-group">
        <label for="exampleInputSlug">Slug</label>
        <input type="text" class="form-control" id="slug" aria-describedby="slugHelp" name="slug"
            placeholder="Enter slug" value="@product.slug">
    </div>
    <div class="form-group">
        <label for="inputState">Category</label>
        <select id="inputState" class="form-control" name="categoryId">
            <option selected>Choose...</option>
            @foreach (var category in categories)
            {
                if (product.categoryId == category.categoryId)
                {
                    <option selected value="@category.categoryId">@category.categoryId - @category.categoryName</option>
                }
                else
                {
                    <option value="@category.categoryId">@category.categoryId - @category.categoryName</option>
                }
            }
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>